Repository CarnegieMellon-PlantD/PlantD-Studio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

ci: add workflow to release image to ghcr
  .github/workflows/release-ghcr.yaml
Due: prettier --write

chore(release): 1.0.0
  CHANGELOG.md
Due: prettier --write

build: change server port for reverse proxy
  webpack.config.js
Due: eslint --fix

refactor(dataset-list): use in-browser download for sample dataset
  package.json
  public/locales/en-US/dataSetList.json
  src/pages/resourceManager/DataSetList.tsx
  src/services/resourceManager/miscApi.ts
  src/utils/getErrMsg.ts
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

feat: add import/export page
  package.json
  public/locales/en-US/importExport.json
  src/components/AppLayout.tsx
  src/pages/ImportExport.tsx
  src/pages/resourceManager/DataSetList.tsx
  src/services/resourceManager/miscApi.ts
  src/services/resourceManager/utilApi.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: add load generator dashboard
  public/locales/en-US/experimentList.json
  src/app.tsx
  src/pages/dashboard/LoadGeneratorDashboard.tsx
  src/pages/resourceManager/ExperimentList.tsx
Due: eslint --fix, prettier --write

fix: update metric names in dashboards
  src/components/dashboard/widgets/GaugeChart.tsx
  src/pages/dashboard/ExperimentDetailDashboard.tsx
  src/pages/dashboard/LoadGeneratorDashboard.tsx
  src/types/dashboard/widgetProps.ts
Due: eslint --fix

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(dashboard): update success rate query
  src/pages/dashboard/ExperimentDetailDashboard.tsx
Due: eslint --fix

fix(pipeline-editor): remove fields in metrics endpoint card
  src/constants/resourceManager/defaultForm/pipeline.ts
  src/pages/resourceManager/PipelineEditor.tsx
Due: eslint --fix

chore(release): 1.1.1
  CHANGELOG.md
  package.json
Due: prettier --write

build: update dependencies
  package.json
  src/app.tsx
  src/components/resourceManager/SortableTable.tsx
  yarn.lock
Due: eslint --fix, prettier --write

build: update dependencies
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

fix(schema-editor): fix display issue in select
  src/components/resourceManager/FormulaSelect.tsx
  src/components/resourceManager/TypeSelect.tsx
Due: eslint --fix

feat: add icon
  src/components/AppHelmet.tsx
  src/components/AppLayout.tsx
  src/images/logo.png
  src/images/logo.svg
Due: eslint --fix

feat(home): add system overview page
  src/components/AppLayout.tsx
  src/pages/Home.tsx
  src/services/baseApi.ts
  src/services/resourceManager/costExporterApi.ts
  src/services/resourceManager/plantDCoreApi.ts
  src/types/resourceManager/costExporter.ts
  src/types/resourceManager/plantDCore.ts
Due: eslint --fix

ci: build arm64 docker image
  .github/workflows/release-ghcr.yaml
Due: prettier --write

chore(release): 1.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

fix(dashboard): add aggregation to avoid duplicate spans
  src/pages/dashboard/ExperimentDetailDashboard.tsx
Due: eslint --fix

ci: add linter and prettier ignore files
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

build: replace babel with swc
  .eslintrc.json
  babel.config.js
  package.json
  webpack.config.js
  yarn.lock
Due: eslint --fix, prettier --write

build: update yarn and dependencies
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

chore(release): 1.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

fix(i18n): fix translation
  public/locales/en-US/translation.json
  src/pages/resourceManager/DataSetEditor.tsx
Due: eslint --fix, prettier --write

feat(dashboard): add axis titles and units
  src/components/dashboard/widgets/GaugeChart.tsx
  src/components/dashboard/widgets/LineChart.tsx
  src/pages/dashboard/ExperimentDetailDashboard.tsx
  src/pages/dashboard/LoadGeneratorDashboard.tsx
  src/types/dashboard/widgetProps.ts
Due: eslint --fix

chore(release): 1.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

fix: fix crash when status field is omitted
  src/pages/Home.tsx
  src/pages/dashboard/ExperimentDetailDashboard.tsx
  src/pages/resourceManager/DataSetList.tsx
  src/pages/resourceManager/ExperimentList.tsx
  src/pages/resourceManager/PipelineList.tsx
  src/types/resourceManager/costExporter.ts
  src/types/resourceManager/dataSet.ts
  src/types/resourceManager/experiment.ts
  src/types/resourceManager/loadPattern.ts
  src/types/resourceManager/namespace.ts
  src/types/resourceManager/pipeline.ts
  src/types/resourceManager/plantDCore.ts
  src/types/resourceManager/schema.ts
Due: eslint --fix

chore(release): 1.2.3
  CHANGELOG.md
  package.json
Due: prettier --write

feat(home): add redis and i18n
  public/locales/en-US/translation.json
  src/pages/Home.tsx
  src/types/resourceManager/plantDCore.ts
Due: eslint --fix, prettier --write

refactor(home): extract constants
  src/constants/base.ts
  src/pages/Home.tsx
Due: eslint --fix

feat(dashboard): add redis-ts support and cost dashboard
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/widgets/AreaChart.tsx
  src/components/dashboard/widgets/BarChart.tsx
  src/components/dashboard/widgets/GaugeChart.tsx
  src/components/dashboard/widgets/LineChart.tsx
  src/constants/dashboards.ts
  src/hooks/resourceManager/useResourceEditor.tsx
  src/pages/Home.tsx
  src/pages/dashboard/ExperimentDetailDashboard.tsx
  src/pages/dashboard/LoadGeneratorDashboard.tsx
  src/services/dashboard/dataApi.ts
  src/types/dashboard/dashboardProps.ts
  src/types/dashboard/dataRequests.ts
  src/types/dashboard/dataResponses.ts
  src/types/dashboard/widgetProps.ts
  src/utils/dashboard/gaugeChartValueFormatters.ts
  src/utils/dashboard/getFriendlyBytes.ts
  src/utils/dashboard/getStep.ts
Due: eslint --fix

chore(release): 1.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

chore(i18n): update translations
  public/locales/en-US/translation.json
Due: prettier --write

refactor(dashboard): extract no data component
  src/components/dashboard/widgets/AreaChart.tsx
  src/components/dashboard/widgets/BarChart.tsx
  src/components/dashboard/widgets/GaugeChart.tsx
  src/components/dashboard/widgets/LineChart.tsx
  src/components/dashboard/widgets/NoData.tsx
  src/components/dashboard/widgets/PieChart.tsx
  src/components/dashboard/widgets/ScatterChart.tsx
  src/pages/dashboard/ExperimentDetailDashboard.tsx
  src/utils/dashboard/getStep.ts
Due: eslint --fix

fix(dashboard): use get api to fetch experiment info
  public/locales/en-US/translation.json
  src/pages/dashboard/ExperimentDetailDashboard.tsx
  src/pages/dashboard/LoadGeneratorDashboard.tsx
Due: eslint --fix, prettier --write

test: add tests
  src/utils/dashboard/gaugeChartValueFormatters.test.ts
  src/utils/dashboard/gaugeChartValueFormatters.ts
  src/utils/dashboard/getStep.test.ts
  src/utils/dashboard/getStep.ts
  src/utils/dashboard/getWidgetClsName.test.ts
  src/utils/getErrMsg.ts
Due: eslint --fix

feat(experiment-editor): add endpoint select
  src/components/resourceManager/ColumnSelect.tsx
  src/components/resourceManager/EndpointSelect.tsx
  src/pages/dashboard/ExperimentDetailDashboard.tsx
  src/pages/dashboard/LoadGeneratorDashboard.tsx
  src/pages/resourceManager/ExperimentEditor.tsx
  src/services/resourceManager/costExporterApi.ts
  src/services/resourceManager/dataSetApi.ts
  src/services/resourceManager/experimentApi.ts
  src/services/resourceManager/loadPatternApi.ts
  src/services/resourceManager/pipelineApi.ts
  src/services/resourceManager/plantDCoreApi.ts
  src/services/resourceManager/schemaApi.ts
Due: eslint --fix

feat(dashboard): automatically determine time range and refresh interval
  public/locales/en-US/translation.json
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/widgets/GaugeChart.tsx
  src/pages/Home.tsx
  src/pages/dashboard/ExperimentDetailDashboard.tsx
  src/pages/dashboard/LoadGeneratorDashboard.tsx
  src/types/dashboard/dashboardProps.ts
  src/types/dashboard/dataRequests.ts
  src/types/dashboard/dataResponses.ts
  src/types/dashboard/widgetProps.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: ./**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: ./**/*.{css,sass,scss,less}
  prettier --write: any of: ./**/*.{html,json,yaml,yml,md}
