Repository CarnegieMellon-PlantD/PlantD-Studio: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

.lintstagedrc.json:

{
  "./**/*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "./**/*.{css,sass,scss,less}": ["stylelint --fix"],
  "./**/*.{html,json,yaml,yml,md}": ["prettier --write"]
}

chore(release): 1.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

build: fix cache issue by adding hash to js and css filename
  webpack.config.js
Due: eslint --fix

build: upgrade to yarn 4 and pnpm node linker
  .husky/commit-msg
  .husky/pre-commit
  .yarn/patches/webpackbar-npm-5.0.2-70d85f1a62.patch
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/releases/yarn-3.6.4.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: prettier --write

build: fix react-router version issue
  package.json
  yarn.lock
Due: prettier --write

chore: switch to favicon.ico
  public/favicon.ico
  src/components/AppHelmet.tsx
Due: eslint --fix

feat: add redis raw data api
  src/services/dashboard/dataApi.ts
  src/types/dashboard/dataRequests.ts
Due: eslint --fix

chore(release): 1.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

feat(business-analysis): add create, edit, and tables for business analysis resources
  package.json
  src/app.tsx
  src/components/AppLayout.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/widgets/LineChartRedis.tsx
  src/components/resourceManager/ExperimentSelect.tsx
  src/components/resourceManager/ModelTypeSelect.tsx
  src/constants/dashboard/index.ts
  src/constants/resourceManager/defaultForm/digitalTwin.ts
  src/constants/resourceManager/defaultForm/simulation.ts
  src/constants/resourceManager/defaultForm/trafficModel.ts
  src/pages/dashboard/SimulationReportDashboard.tsx
  src/pages/resourceManager/DigitalTwinEditor.tsx
  src/pages/resourceManager/DigitalTwinList.tsx
  src/pages/resourceManager/SimulationEditor.tsx
  src/pages/resourceManager/SimulationList.tsx
  src/pages/resourceManager/TrafficModelEditor.tsx
  src/pages/resourceManager/TrafficModelList.tsx
  src/services/baseApi.ts
  src/services/dashboard/dataApi.ts
  src/services/resourceManager/digitalTwinApi.ts
  src/services/resourceManager/simulationApi.ts
  src/services/resourceManager/trafficModelApi.ts
  src/types/dashboard/dashboardProps.ts
  src/types/dashboard/dataResponses.ts
  src/types/dashboard/widgetProps.ts
  src/types/resourceManager/digitalTwin.ts
  src/types/resourceManager/simulation.ts
  src/types/resourceManager/trafficModel.ts
  src/utils/resourceManager/convertDigitalTwin.ts
  src/utils/resourceManager/convertSimulation.ts
  src/utils/resourceManager/convertTrafficModel.ts
  yarn.lock
Due: eslint --fix, prettier --write

feat: wip
  src/pages/resourceManager/DigitalTwinEditor.tsx
  src/types/resourceManager/digitalTwin.ts
  src/utils/resourceManager/convertDigitalTwin.ts
Due: eslint --fix

ci: add manual trigger
  .github/workflows/release-ghcr.yaml
Due: prettier --write

fix: conditional xField and yField
  src/components/dashboard/widgets/LineChart.tsx
Due: eslint --fix

fix: remove unused dependency
  package.json
Due: prettier --write

fix: various fixes
  src/app.tsx
  src/pages/resourceManager/SimulationEditor.tsx
  src/services/dashboard/dataApi.ts
  src/types/resourceManager/trafficModel.ts
  src/utils/resourceManager/convertTrafficModel.ts
Due: eslint --fix

feat: download traffic model
  src/pages/resourceManager/TrafficModelEditor.tsx
  src/utils/traffic_model.csv
  webpack.config.js
Due: eslint --fix

fix: remove load patterns from Digital Twin Editor
  src/constants/resourceManager/defaultForm/digitalTwin.ts
  src/pages/resourceManager/DigitalTwinEditor.tsx
  src/types/resourceManager/digitalTwin.ts
  src/utils/resourceManager/convertDigitalTwin.ts
Due: eslint --fix

fix: digitalTwin endpoint changes
  src/pages/resourceManager/DigitalTwinEditor.tsx
  src/types/resourceManager/digitalTwin.ts
  src/utils/resourceManager/convertDigitalTwin.ts
Due: eslint --fix

fix: remove empty file
  src/components/resourceManager/ExperimentSelect.tsx
Due: eslint --fix

fix: change trafficmodel to JSON
  public/utils/traffic_model.json
  src/constants/resourceManager/defaultForm/trafficModel.ts
  src/pages/resourceManager/TrafficModelEditor.tsx
  src/pages/resourceManager/TrafficModelList.tsx
  src/types/resourceManager/digitalTwin.ts
  src/types/resourceManager/trafficModel.ts
  src/utils/resourceManager/convertTrafficModel.ts
  src/utils/traffic_model.csv
  webpack.config.js
Due: eslint --fix, prettier --write

fix: add dependency between namespace and names for resources in simulation create
  src/pages/resourceManager/SimulationEditor.tsx
Due: eslint --fix

fix: digitalTwin edit experiment namespace and name are rendering
  src/pages/resourceManager/DigitalTwinEditor.tsx
  src/utils/resourceManager/convertDigitalTwin.ts
Due: eslint --fix

feat: add helper text and resource captions
  public/locales/en-US/translation.json
  src/components/resourceManager/BaseResourceList.tsx
  src/pages/resourceManager/DigitalTwinEditor.tsx
  src/pages/resourceManager/DigitalTwinList.tsx
  src/pages/resourceManager/SimulationList.tsx
  src/pages/resourceManager/TrafficModelList.tsx
Due: eslint --fix, prettier --write

fix: remove unused yfield
  src/components/dashboard/Dashboard.tsx
Due: eslint --fix

fix: remove commented code and empty strings
  src/pages/dashboard/SimulationReportDashboard.tsx
Due: eslint --fix

fix: remove unused variable
  src/constants/dashboard/index.ts
Due: eslint --fix

fix: bring back missing hook dependency
  src/components/dashboard/Dashboard.tsx
  yarn.lock
Due: eslint --fix

refactor: reuse LineChart instead of LineRedisChart
  src/components/dashboard/Dashboard.tsx
  src/components/dashboard/widgets/LineChart.tsx
  src/components/dashboard/widgets/LineChartRedis.tsx
  src/pages/dashboard/SimulationReportDashboard.tsx
  src/services/dashboard/dataApi.ts
  src/types/dashboard/dataRequests.ts
  src/types/dashboard/widgetProps.ts
Due: eslint --fix

fix: simulation job status not simulationstate
  src/types/resourceManager/simulation.ts
Due: eslint --fix

fix: lowercase url
  src/pages/resourceManager/SimulationList.tsx
Due: eslint --fix

fix: replace any type and remove ts-ignore
  src/types/dashboard/dataResponses.ts
Due: eslint --fix

chore(release): 1.5.0
  CHANGELOG.md
  package.json
Due: prettier --write

feat: new BA resources, empty
  src/app.tsx
  src/components/AppLayout.tsx
  src/pages/resourceManager/NetworkAndStorageList.tsx
  src/pages/resourceManager/ProjectedUploadList.tsx
Due: eslint --fix

refactor: unnecessary code removed
  src/components/resourceManager/ModelTypeSelect.tsx
  src/pages/resourceManager/DigitalTwinEditor.tsx
  src/types/resourceManager/digitalTwin.ts
  src/types/resourceManager/simulation.ts
  src/types/resourceManager/trafficModel.ts
Due: eslint --fix

feat: add ahm pages
  public/locales/en-US/translation.json
  src/app.tsx
  src/components/AppLayout.tsx
  src/constants/resourceManager/defaultForm/scenario.ts
  src/pages/resourceManager/ExperimentList.tsx
  src/pages/resourceManager/ProjectedUploadList.tsx
  src/pages/resourceManager/ScenarioEditor.tsx
  src/pages/resourceManager/ScenarioList.tsx
  src/services/baseApi.ts
  src/services/resourceManager/scenarioApi.ts
  src/types/resourceManager/scenario.ts
  src/utils/resourceManager/convertScenario.ts
Due: eslint --fix, prettier --write

feat: add sortable table in scenario editor
  .eslintrc.json
  src/pages/resourceManager/ScenarioEditor.tsx
  src/types/resourceManager/scenario.ts
  src/utils/resourceManager/convertScenario.ts
Due: eslint --fix, prettier --write

feat: update to new crd api
  src/constants/resourceManager/gofakeit-functions.json
  src/constants/resourceManager/schemaColumnFormulas.ts
  src/pages/dashboard/ExperimentDetailDashboard.tsx
  src/pages/dashboard/LoadGeneratorDashboard.tsx
  src/pages/resourceManager/DataSetList.tsx
  src/pages/resourceManager/ExperimentEditor.tsx
  src/pages/resourceManager/ExperimentList.tsx
  src/pages/resourceManager/PipelineEditor.tsx
  src/pages/resourceManager/PipelineList.tsx
  src/types/resourceManager/dataSet.ts
  src/types/resourceManager/experiment.ts
  src/types/resourceManager/loadPattern.ts
  src/types/resourceManager/pipeline.ts
  src/types/resourceManager/schema.ts
  src/utils/resourceManager/convertDataSet.ts
  src/utils/resourceManager/convertExperiment.ts
  src/utils/resourceManager/convertPipeline.ts
  src/utils/resourceManager/convertSchema.ts
Due: eslint --fix, prettier --write

ci: improve build workflow
  .github/dependabot.yml
  .github/workflows/build.yaml
  .github/workflows/release-ghcr.yaml
Due: prettier --write
